* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

/* Flexbox no contêiner principal */
.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* Grid para a galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Estilo das figuras */
figure {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

figcaption {
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}


.card img {
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.card:hover img {
  transform: scale(1.1); /* 👈 aumenta 10% */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* 👈 sombra bonita */
  z-index: 1;
}

/* Media Queries para telas menores */
@media (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}